.ldcv.autogap.scroll
  script(type="@plotdb/block"): include:lsc index.ls
  .base.w-640.rwd: .inner
    h1 Paid
    hr
    p Thank you for your business.
    .btn.btn-primary(data-ldcv-set="") Close

