.w-640.rwd.m-auto
  script(type="@plotdb/block"): include:lsc index.ls
  .text-center
    h1(t) title
    p.text-center(t) desc
    .mt-4
      div(t) toolong
      div #[span(t) try] #[a(href="/me/settings/",t) again]
