.w-640.rwd.m-auto
  script(type="@plotdb/block"): include:lsc index.ls
  .my-5 
    .text-center.mb-4: h1.mb-0(t) title
    p.my-4(t) desc
    .text-center
      div(t) toolong
      div #[span(t) try] #[a(href="/auth/?passwd-reset",t) again]

